.nav{
    padding: 20px;
    background-color: darkcyan;
}
.row{
    padding: 10px;
}
.col{
    padding: 10px;
}
.btn{
    padding: 10px;
    background-color: black;
    border-color: black;
    color: white;
}
.btn:hover{
    background-color: darkcyan;
    border-color: black;
    color: black;
    font-weight: bold;
}
.navbar-brand{
    color:white;
}